<div class="container" style="background-color: rgb(208, 224, 206);">
    <app-header></app-header>
    <div class="content">

 
  
  <div class="content" role="main">
  
    <!-- Highlight Card -->
 
  
    <!-- Resources -->
    <h2>I'm looking for..</h2>
    <!-- <p>Here are some links to help you get started:</p> -->
  
    <div class="card-container">
   
       
      <a class="card" target="_blank" rel="noopener" (click)="openDialog()">
        <span>Register</span>
      </a>
  
    </div>
  
 
  
  
 
    <!-- Footer -->
    <footer>
      
    </footer>
  
  
  
  </div>
  
  
  
  <router-outlet></router-outlet>
  
    </div>
    <app-footer></app-footer>
  </div>